/*  DeepBrown: #342D29
    ChocolateBrown: #594A47
    BiscuitBrown: #D4C0AB
    WhiteBrown: #F2EFE5
    OrangeBrown: #E3B273
    
    font-family: 'Pacifico', cursive
    font-family: 'Quicksand', sans-serif
*/
html {
    scroll-behavior: auto;
}
body {
    background: linear-gradient(180deg, #D4C0AB 0%, #E3B273 70%, #D4C0AB 90%);
    font-family: 'Quicksand', sans-serif;   
    color: #342D29;
}
#main_nav {
    font-size: 1.5rem;
    font-family: 'Quicksand', sans-serif;
}
#main_nav a {
    color: #594A47;
    font-weight: 700;
}
#main_nav a:hover {
    color: #E3B273;
    font-weight: 700;
    transition: .2s ease-in;
    border-bottom: 3px solid #594A47;

}
#main_nav .nav-item.active a{
    color: #E3B273;
}

#logo:hover {
    -webkit-filter: blur(1.5px); 
    filter: blur(1.5px);
    transition: 1.5s ease-in;
    transition: 1.5s ease-out;

}
#order_button {
    background-color: #342D29;
    color: #F2EFE5;
    font-family: 'Quicksand', sans-serif;
}
#order_button:hover {
    background-color: #D4C0AB;
    color: #594A47;
    font-weight: 700;
    transition: .2s ease-in;
}
#menu_food_button {
    background-color: #D4C0AB;
    color: #594A47;
    font-weight: 700;
    font-family: 'Quicksand', sans-serif;
}
#menu_food_button:hover {
    background-color: #342D29;
    color: #F2EFE5;
    font-weight: 400;
    transform: scale(1.2);
    transition: .2s ease-in;
}
#header {
    background-color: #594A47;
    color: #F2EFE5;
    font-family: 'Quicksand', sans-serif;
    text-align: center;
}
#header h1 {
    font-family: 'Pacifico', cursive;
}
  
.navbar-toggler {
    border: none;
    
  } 
#toggle_nav_icon {
      font-family: 'Pacifico', cursive;
      font-size: 2rem;
      color: #594A47;
  }
  .navbar-toggler:focus,
  .navbar-toggler:active,
  .navbar-toggler-icon:focus {
      outline: none;
      box-shadow: none;
  }
  
.bg-cover {
    background-attachment: static;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

  footer {
    background: #342D29;
    color: #F2EFE5;
    font-family: 'Quicksand', sans-serif;
    text-align: center;
}
.footer-content h3{
    font-size: 2.1rem;
    font-family: 'Pacifico', cursive;
}
.footer-content p{
    font-size: 1.2rem;
    color: #cacdd2;
}

  .footer-bottom p{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
 }
 .footer-bottom p a{
   color:#594A47;
   font-size: 16px;
   text-decoration: none;
 }
 .footer-bottom span{
     text-transform: uppercase;
     opacity: .4;
     font-weight: 200;
 }
 .socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.socials li{
    margin: 0 10px;
}

.socials a{
    text-decoration: none;
    color: #fff;
    border: 1.1px solid white;
    padding: 5px;
    border-radius: 50%;
}

.socials a i{
    font-size: 1.1rem;
    width: 20px;
    transition: color .4s ease;
}

.socials a:hover i{
    color: #D4C0AB;
}
.footer-bottom {
    background: #F2EFE5;
    padding: 20px;
    text-align: center;
}
.footer-bottom p{
    color: #342D29;
    font-size: 1rem;
}

.footer-bottom a:hover {
    color: #E3B273;
    font-size: 1.1rem;
}